In [38]:
"Aditya Kumar Tripathi"

'Aditya Kumar Tripathi'

In [39]:
x=8
y=x+10
y

18

In [40]:
 x + y + y

44

# Datatypes

In [41]:
a = 1000
b = 3.14
c = True
d = "Hello World"
e = None

In [42]:
f = [1, 2, 3, 4, 5]
g = {1, 2, 3}

In [43]:
h = (1, 2, 3, 4)

In [44]:
i = {'a': 'apple' , 'b':'ball', 'c': 'cat'}

# Operators
### Arithmetic operators
### Comparison operators
### Assignment operators
### Logical operators

#### Arithmetic operators

In [45]:
11//3

3

In [81]:
# With modulo (%0) operator we get the remainder
12%5

2

In [47]:
10**5

100000

In [48]:
2+3

5

In [49]:
34-7

27

In [50]:
35*3

105

In [51]:
45/2

22.5

In [52]:
a = 39
b = 65

In [53]:
a>b

False

In [54]:
a<b

True

In [55]:
a==b

False

In [56]:
a!=b

True

In [57]:

a<=b

True

In [58]:
a>=b

False

In [59]:
a+30 > b

True

In [60]:
"Zebra"==2

False

### Logical operators

In [61]:
a>b and a<b

False

In [62]:
a>b or a<b

True

In [63]:
not a>b and a<b

True

In [64]:
not (a>b and a>b)

True

#### Identity operators

In [65]:
x = 5
y = 5
z = 6

In [66]:
x is y

True

In [67]:
x is z

False

In [68]:
x is not z

True

#### Membership operators

In [69]:
# it can also be done with  numbers
colors = ['red', 'green', 'blue','black']

In [70]:
'red' in colors

True

In [71]:
'black' in colors

True

In [72]:
'white' in colors

False

In [73]:
name = input ()

In [74]:
age = int(input("Enter your age-"))

In [75]:
name = input("What is your name")
age = int(input("What is your age"))
city = input("Enter the name of your current city")

In [76]:
print(name)
print(age)
print(city)

Aditya
20
lucknow

In [77]:
print(name,",",age,",",city,",")

Aditya , 20 , lucknow ,

In [78]:
print("My name is",name)
print("My age is",age)
print ("Currently I am living in",city)

My name is Aditya
My age is 20
Currently I am living in lucknow

In [79]:
print("My name is")

My name is