## So the coding starts here

In [1]:
name = "Aditya Kumar Tripathi"
name

'Aditya Kumar Tripathi'

### Datatypes

In [2]:
int1 = 20
str1 = "This is a random string"
float1 = 3.12
bool1 = True
print(type(int1))
print(type(str1))
print(type(float1))
print(type(bool1))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [3]:
list1 = [1,2,"Aditya",3,4,5,3.2,(1,2,3,4),{3,4,2},True]
tuple1 = (1,2,3,4,[3,4,5],5,{1,3,4},"Aditya",8.5,False)
set1 = {1,2,3,4,5,5,(2,5,6),5,"Aditya",3.8,True}
dict1 = {'name':'Aditya',"Age": 20, "Degree":"B.Com"}

In [4]:
print(list1)
print(tuple1)
print(set1)
print(dict1)

[1, 2, 'Aditya', 3, 4, 5, 3.2, (1, 2, 3, 4), {2, 3, 4}, True]
(1, 2, 3, 4, [3, 4, 5], 5, {1, 3, 4}, 'Aditya', 8.5, False)
{1, 2, 3, 4, 5, 'Aditya', 3.8, (2, 5, 6)}
{'name': 'Aditya', 'Age': 20, 'Degree': 'B.Com'}

In [5]:
print(type(list1))
print(type(tuple1))
print(type(set1))
print(type(dict1))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [6]:
print(list1[2])
print(tuple1[4])
print(dict1["name"]) 
print(dict1.get("name")) # another way of indexing

Aditya
[3, 4, 5]
Aditya
Aditya

In [7]:
list2 = [1,2,3,4,5,"Aditya"]
list2 = set(list2)

In [8]:
list1 = set(list1)

TypeError: unhashable type: 'set'

In [ ]:
a = 45
b = 6

In [ ]:
a + b

51

In [ ]:
a -b

39

In [ ]:
a /b

7.5

In [ ]:
a // b

7

In [ ]:
a % b

3

In [ ]:
num1 = int(input("Enter a number: "))
if num1 % 5 != 0 and num1 % 8 != 0:
    print("Choose another number")
else:
    print("Divisible  by both")

Divisible  by both

In [ ]:
age = int(input("enter age :"))
if age <14 :
    print("Too small")
elif age >=14 and age <=18 :
    print("Nibba")
elif age >=19 and age <=26:
    print("kat raha hai")
elif age >=27 and age <=45:
    print("Kat chuka")
else:
    print("Bahut bade aadmi ban gaye ho ab tum.")

Bahut bade aadmi ban gaye ho ab tum.

In [ ]:
list1

[1, 2, 'Aditya', 3, 4, 5, 3.2, (1, 2, 3, 4), {2, 3, 4}, True]

In [ ]:
l1 = [1,2,3,6,3,5,8,3,5,7,3]

In [ ]:
l1

[1, 2, 3, 3, 3, 3, 5, 5, 6, 7, 8]

In [ ]:
l1.insert(2,4)
print(l1)

[1, 2, 4, 3, 3, 3, 3, 5, 5, 6, 7, 8]