In [2]:
"Aditya Kumar Tripathi"

'Aditya Kumar Tripathi'

In [3]:
x=8
y=x+10
y

18

In [4]:
 x + y + y

44

# Datatypes

In [5]:
a = 1000
b = 3.14
c = True
d = "Hello World"
e = None

In [6]:
f = [1, 2, 3, 4, 5]
g = {1, 2, 3}

In [7]:
h = (1, 2, 3, 4)

In [8]:
i = {'a': 'apple' , 'b':'ball', 'c': 'cat'}

# Operators
### Arithmetic operators
### Comparison operators
### Assignment operators
### Logical operators
### Identity operators
### Membership opertors

#### Arithmetic operators

In [9]:
12//3

4

In [10]:
# With modulo (%0) operator we get the remainder
12%5

2

In [11]:
10**5

100000

In [12]:
2+3

5

In [13]:
34-7

27

In [14]:
35*3

105

In [15]:
45/2

22.5

#### Comparison operators

In [16]:
a = 39
b = 65

In [17]:
a>b

False

In [18]:
a<b

True

In [19]:
a==b

False

In [20]:
a!=b

True

In [21]:

a<=b

True

In [22]:
a>=b

False

In [23]:
a+30 > b

True

In [24]:
"Zebra"==2

False

### Logical operators

In [25]:
a>b and a<b

False

In [26]:
a>b or a<b

True

In [27]:
not a>b and a<b

True

In [28]:
not (a>b and a>b)

True

#### Identity operators

In [29]:
x = 5
y = 5
z = 6

In [30]:
x is y

True

In [31]:
x is z

False

In [32]:
x is not z

True

#### Membership operators

In [33]:
# it can also be done with  numbers
colors = ['red', 'green', 'blue','black']

In [34]:
'red' in colors

True

In [35]:
'black' in colors

True

In [36]:
'white' in colors

False

# Input function

In [37]:
name = input ()

In [38]:
age = int(input("Enter your age-"))

In [39]:
name = input("What is your name")
age = int(input("What is your age"))
city = input("Enter the name of your current city")

In [40]:
print(name)
print(age)
print(city)

Aditya
20
lucknow

In [41]:
print(name,",",age,",",city,",")

Aditya , 20 , lucknow ,

In [42]:
print("My name is",name)
print("My age is",age)
print ("Currently I am living in",city)

My name is Aditya
My age is 20
Currently I am living in lucknow

In [43]:
print("My name is",name,",",age,"years old" ,'and the city in which I am currently living is ',city)

My name is Aditya , 20 years old and the city in which I am currently living is  lucknow