# Loop
- For loop - step based
- While loop - condition based

for loop syntax
```
for temp_variable in iterable:
    statement 1
    statement 2
    
    ```
    statement n

In [1]:
a = 'Alphabet'
for letter in a:
    print(letter)

A
l
p
h
a
b
e
t

In [2]:
colors = ['red', 'green', 'blue', 'yellow']
for color in colors:
    print('I like colors such as',color)

I like colors such as red
I like colors such as green
I like colors such as blue
I like colors such as yellow

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### Types of range function
- `range(100) will print 0 to 99`
- `range(5,49) will print 5 to 48`
- `range(2,20,2) will print 2,4,6,8,10,12,14,16,18`

`range(start, stop, step)`

In [4]:
for i in range(5,50):
    print(i, end=' ')

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [5]:
## end attribute of print function helps with characters we want to print after every value of range and printing it in one line

for i in range(5,100,10):
    print(i, end=' ')

5 15 25 35 45 55 65 75 85 95

In [6]:
numbers= [34,45,6,7,8,434,23,56,87,78]
for i in numbers:
    if i%2==0:
        print(f'{i} is even')
    else:
        print(f"{i} is odd")

34 is even
45 is odd
6 is even
7 is odd
8 is even
434 is even
23 is odd
56 is even
87 is odd
78 is even

In [7]:
colors = ['red', 'green', 'blue', 'yellow', 'orange']
for c in colors:
    if 'o' in c:
        print(c)

yellow
orange

In [8]:
guests = ['Mr.John', 'Dr. Smith', 'Mrs.Jones', 
'Mr.Smith', 'Mr.Jones', 'Dr. Strange', 'Alex']
for name in guests:
    if name.startswith ('Mr.'):
        print("Hello sir")
    elif name.startswith ('Mrs.'):
        print("Hello ma'am")
    elif name.startswith ('Dr.'):
        print("Hello doctor")
    else:
        print(f"{name} you are not invited")

Hello sir
Hello doctor
Hello ma'am
Hello sir
Hello sir
Hello doctor
Alex you are not invited

In [9]:
numbers = [23,45,67,89,34,56,23,21,45,67,89,92]
# num < 30 :D
# num> 50  :(
# else :|
for num in numbers:
    if num<30:
        print(":D")
    elif num>50:
        print(":(")
    else:
        print(":|")

:D
:|
:(
:(
:|
:(
:D
:D
:|
:(
:(
:(

- enumerator() -->shows us the index number of values inside a list
- zip()

In [10]:
names =['Ritesh','Nitesh','Himanshu','Amita','Avneesh',
     'Areesha','Muskan','Pragya','Udbhav','Aditya']
for nm in enumerate(names):
    print(nm)

(0, 'Ritesh')
(1, 'Nitesh')
(2, 'Himanshu')
(3, 'Amita')
(4, 'Avneesh')
(5, 'Areesha')
(6, 'Muskan')
(7, 'Pragya')
(8, 'Udbhav')
(9, 'Aditya')

In [11]:
for ind,nm in enumerate(names):
    print(nm,"is at index",ind) # unprofessional way to print

Ritesh is at index 0
Nitesh is at index 1
Himanshu is at index 2
Amita is at index 3
Avneesh is at index 4
Areesha is at index 5
Muskan is at index 6
Pragya is at index 7
Udbhav is at index 8
Aditya is at index 9

In [12]:
for ind,nm in enumerate(names):
    print(f"{nm} is at index {ind}") # professional way to print

Ritesh is at index 0
Nitesh is at index 1
Himanshu is at index 2
Amita is at index 3
Avneesh is at index 4
Areesha is at index 5
Muskan is at index 6
Pragya is at index 7
Udbhav is at index 8
Aditya is at index 9

In [13]:
print (names , end = ' ')

['Ritesh', 'Nitesh', 'Himanshu', 'Amita', 'Avneesh', 'Areesha', 'Muskan', 'Pragya', 'Udbhav', 'Aditya']

In [14]:
bday = ['12 Oct','22 Feb','18 Jan','20 Oct','3 May',
    '12 Jun','22 Mar','13 Sep','25 Oct','13 August']

In [15]:
for nm,date in zip(names,bday):
    print(f"{nm}'s birthday is on {date}")

Ritesh's birthday is on 12 Oct
Nitesh's birthday is on 22 Feb
Himanshu's birthday is on 18 Jan
Amita's birthday is on 20 Oct
Avneesh's birthday is on 3 May
Areesha's birthday is on 12 Jun
Muskan's birthday is on 22 Mar
Pragya's birthday is on 13 Sep
Udbhav's birthday is on 25 Oct
Aditya's birthday is on 13 August

In [16]:
products = ['T.V', 'Refrigerator', 'Air conditioner']
prices = [42000, 44000, 55000]
quantity = [5, 10, 12]

for pro,pri,qty in zip (products,prices,quantity):
    print (f"{pro} costs {pri} and we currently have {qty} in stock, so the total cost will be {pri*qty}")

T.V costs 42000 and we currently have 5 in stock, so the total cost will be 210000
Refrigerator costs 44000 and we currently have 10 in stock, so the total cost will be 440000
Air conditioner costs 55000 and we currently have 12 in stock, so the total cost will be 660000

#### Loop control

- continue --> skip a turn
- break --> exit/stop the loop
#### Note: they are only used in a conditon inside loop

In [17]:
for i in range(10): 
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [18]:
for i in range(11):
    if i == 7:
        continue
    print(i)

0
1
2
3
4
5
6
8
9
10

In [19]:
for ind,nm in enumerate (names):
    if ind == 6:
        break
    print(f"{nm} is at index {ind}")

Ritesh is at index 0
Nitesh is at index 1
Himanshu is at index 2
Amita is at index 3
Avneesh is at index 4
Areesha is at index 5

In [20]:
for ind,nm in enumerate (names):
    if ind == 6:
        continue
    print(f"{nm} is at index {ind}")

Ritesh is at index 0
Nitesh is at index 1
Himanshu is at index 2
Amita is at index 3
Avneesh is at index 4
Areesha is at index 5
Pragya is at index 7
Udbhav is at index 8
Aditya is at index 9

In [21]:
for i in [2,4,66,51,5,7,2]:
    if i == 5:
        break
    print (i, end =" ")

2 4 66 51

In [59]:
for i in [2,4,66,51,5,7,2]:
    if i == 5:
        continue
    print (i, end =" ")

2 4 66 51 7 2

In [70]:
r = True
for i in [2,4,66,5,51,7,2]:
    if i == 5:
        r = False
        break
    print (i,end ='  ')
if r:
    print ("Loop completed")
else:
    print("Loop broken")

2  4  66  Loop broken

In [61]:
for i in [2,1,32,4,2,1,2,3,31,31]:
    if i == 41:
        print ("Loop broken")
        break
    print (i , end = ' ')
else:
    print ("Loop continued")

2 1 32 4 2 1 2 3 31 31 Loop continued

In [25]:
x = 70
while x > 0:
    print(x, end =" ")
    x -= 5

70 65 60 55 50 45 40 35 30 25 20 15 10 5

In [71]:
t = True

for i in [1,2,3,4,5,6,7,6,5,4]:
    if i == 21:
        t = False
        continue
    print (i , end = ' ')
if t :
    print("Loop continued")
else:
    print("Loop skipped")

1 2 3 4 5 6 7 6 5 4 Loop continued